<h1>Search Options</h1><hr>

<br><br>

<ul>
<li><%= link_to 'Manage Books', bookview_index_path, class:'btn' %><br><br>
<li><%= link_to 'Manage Authors', authorview_index_path, class:'btn' %><br><br>
<li><%= link_to 'Manage Publishers', publisherview_index_path, class:'btn' %><br><br>
<li><%= link_to 'Manage Issued Books', issueview_index_path, class:'btn' %><br><br>
<li><%= link_to 'Manage Categories', categoriesview_index_path, class:'btn' %><br><br>
<li><%= link_to 'Manage Bookshelves', shelfview_index_path,class:'btn' %></li>
</ul>
<br><br><br>

<%= link_to 'Go Back', hello_index_path, class:'btn' %>