<%= simple_form_for @issue, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :book_id,as: :select,collection: Book.find(:all, :order=> "name").collect {|s|
      [(s.name),s.id]}  %>
  <%= f.input :member_id,as: :select,collection: Member.find(:all, :order=> "first_name, last_name").collect {|s|
      [(s.first_name+" "+s.last_name),s.id]} %>
  <%= f.input :issue_date %>
  <%= f.input :due_date %>
  <%= f.input :status %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel', issueview_index_path , :class => 'btn' %>
  </div>
<% end %>
