<%= simple_form_for @author, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :first_name, placeholder: 'First Name', label: 'John' %>
  <%= f.input :last_name, placeholder: 'Last Name', label:'Doe' %>
  <%= f.input :phone, placeholder:0266001011 %>
  <%= f.input :email, placeholder:'abc@example.com' %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel', authorview_index_path, class: 'btn' %>

  </div>
<% end %>
