<%= simple_form_for @publisher, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, placeholder:'Publisher Name' %>
  <%= f.input :street, placeholder:'Steet Address' %>
  <%= f.input :city_id , as: :select, collection: City.find(:all,:group=>"city_name", :order=> "city_name").collect {|s|
      [(s.city_name),s.id]}%>
  <%= f.input :country_id, as: :select, collection: Country.find(:all,:group=>"country_name", :order=> "country_name").collect {|s|
      [(s.country_name),s.id]}%>
  <%= f.input :phone, placeholder:'0266001011' %>
  <%= f.input :email, placeholder:'abc@example.com' %>
  <%= f.input :status,placeholder:'Active/Inactive' %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel',publisherview_index_path, :class => 'btn' %>
  </div>
<% end %>
