<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @book.name %>
</p>

<p>
  <b>ISBN:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author_id %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher_id %>
</p>

<p>
  <b>Category:</b>
  <%= @book.category_id %>
</p>

<p>
  <b>Status:</b>
  <%= @book.status %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
