<%= form_tag(booksearch_lookup_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <!--<div class="input-append">
      <%= text_field_tag :name, params[:name], class: "span2", placeholder: "Search by Book Name"%>
      <button class="btn" type="submit"><i class="icon-search"></i></button>
    </div>
    <br>
    <div class="input-append">
      <%= text_field_tag :authorsearch, params[:name], class: "span2", placeholder: "Search by Author"%>
      <button class="btn" type="submit"><i class="icon-search"></i></button>
    </div>
    <br>
    <div class="input-append">
      <%= text_field_tag :publishersearch, params[:name], class: "span2", placeholder: "Search by Publisher"%>
      <button class="btn" type="submit"><i class="icon-search"></i></button>
    </div>
    <br>
    <div class="input-append">
      <%= text_field_tag :issuedsearch, params[:name], class: "span2", placeholder: "Search by Issued Book"%>
      <button class="btn" type="submit"><i class="icon-search"></i></button>
    </div>
    <br>
    <div class="input-append">
      <%= text_field_tag :categorysearch, params[:name], class: "span2", placeholder: "Search by Category"%>
      <button class="btn" type="submit"><i class="icon-search"></i></button>
    </div>
    <br>
    <div class="input-append">
      <%= text_field_tag :shelfsearch, params[:name], class: "span2", placeholder: "Search by Shelf"%>
      <button class="btn" type="submit"><i class="icon-search"></i></button>
    </div>-->



    
    <div class="input">
      <%= text_field_tag :name, params[:name], class: "span2", placeholder: "Search by Book Name"%>
    <br>
<!--      <%= text_field_tag :authorsearch, params[:authorsearch], class: "span2", placeholder: "Search by Author"%>
    <br>
      <%= text_field_tag :publishersearch, params[:publishersearch], class: "span2", placeholder: "Search by Publisher"%>
    <br>
      <%= text_field_tag :issuedsearch, params[:issuedsearch], class: "span2", placeholder: "Search by Issued Book"%>
    <br>
      <%= text_field_tag :categorysearch, params[:categorysearch], class: "span2", placeholder: "Search by Category"%>
    <br>
      <%= text_field_tag :shelfsearch, params[:shelfsearch], class: "span2", placeholder: "Search by Shelf"%>
-->
    <br><br>

      <button class="btn" type="submit"><i class=" icon-search"></i></button>
      <%= link_to 'Back', bookview_index_path,class:'btn' %>    
      <br><br>
      <hr>
    </div>
<%end%>