<%= simple_form_for @member, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :first_name, placeholder:'Jane', label:'First Name' %>
  <%= f.input :last_name, placeholder: 'Doe', label:'Last Name' %>
  <%= f.input :street, placeholder:'Street Address', label:'Street' %>

  <%= f.input :city_id, label:'City', as: :select, collection:City.find(:all, :group=>"city_name", :order=> "city_name").collect {|s|
      [(s.city_name),s.id]} %>

  <%= f.input :country_id, label:'Country' ,as: :select,  collection: Country.find(:all, :group=>"country_name", :order=> "country_name").collect {|s|
      [(s.country_name),s.id]} %>
  <%= f.input :phone,placeholder:'4567832933' %>
  <%= f.input :email, placeholder:'abc@example.com' %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel',
                memberview_index_path, :class => 'btn' %>
  </div>
<% end %>
