<h1>Listing members</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Street</th>
    <th>City</th>
    <th>Country</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.first_name %></td>
    <td><%= member.last_name %></td>
    <td><%= member.street %></td>
    <td><%= member.city.city_name %></td>
    <td><%= member.country.country_name %></td>
    <td><%= member.phone %></td>
    <td><%= member.email %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br/>
<br>
<a href="http://172.26.73.26:3000/memberview/index">Go Back</a>
